<!--
=========================================================
* Material Dashboard 2 PRO - v3.0.6
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-dashboard-pro
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be includein all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76"
          href="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/img/apple-icon-1.png">
    <link rel="icon" type="image/png"
          href="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/img/favicon-1.png">


    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro">

    <meta name="keywords"
          content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 5 dashboard, bootstrap 5, css3 dashboard, bootstrap 5 admin, material dashboard bootstrap 5 dashboard, frontend, responsive bootstrap 5 dashboard, material design, material dashboard bootstrap 5 dashboard">
    <meta name="description"
          content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">

    <link
        href="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/css/nucleo-icons-1.css"
        rel="stylesheet">
    <link
        href="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/css/nucleo-svg-1.css"
        rel="stylesheet">

    <script src="../../../material-dashboard-pro/demos.creative-tim.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link href="../../../material-dashboard-pro/demos.creative-tim.com/icon-1?family=Material+Icons+Round"
          rel="stylesheet">

    <link id="pagestyle"
          href="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/css/material-dashboard.min-1.css?v=3.0.6"
          rel="stylesheet">
    <title></title>


</head>
<body class="rtl">

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div
                        class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                        <div
                            class="position-relative h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                            style="background-image: url('../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/img/illustrations/illustration-signin.jpg'); background-size: cover;"></div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto me-lg-auto ms-lg-5">
                        <div class="card card-plain">
                            <div class="card-header text-center">
                                <h4 class="font-weight-bolder">ورود به حساب</h4>
                                <p class="mb-0">برای ورود، ایمیل و رمز عبور خود را وارد کنید</p>
                            </div>
                            <div class="card-body mt-2">
                                <form role="form">
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">ایمیل</label>
                                        <label>
                                            <input type="email" class="form-control">
                                        </label>
                                    </div>
                                    <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">رمز عبور</label>
                                        <label>
                                            <input type="password" class="form-control">
                                        </label>
                                    </div>
                                    <div class="form-check form-switch d-flex align-items-center mb-3">
                                        <input class="form-check-input ms-3" type="checkbox" id="rememberMe">
                                        <label class="form-check-label mb-0" for="rememberMe">مرا به خاطر بسپار</label>
                                    </div>
                                    <div class="text-center">
                                        <button type="button"
                                                class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">ورود
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-4 text-sm mx-auto">
                                    هنوز ثبت نام نکرده اید؟
                                    <a href="javascript:;" class="text-primary text-gradient font-weight-bold">ثبت نام</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script
    src="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/js/core/popper.min.js"></script>
<script
    src="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/js/core/bootstrap.min.js"></script>
<script
    src="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script
    src="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/smooth-scrollbar.min.js"></script>

<script
    src="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/dragula/dragula.min.js"></script>
<script
    src="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/js/plugins/jkanban/jkanban.js"></script>
<script>
    const win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        const options = {
            damping: '0.5'
        };
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

<script async="" defer="" src="../../../material-dashboard-pro/demos.creative-tim.com/buttons.js"></script>

<script
    src="../../../material-dashboard-pro/demos.creative-tim.com/material-dashboard-pro/assets/js/material-dashboard.min.js?v=3.0.6"></script>
</body>
</html>
